---
import { Icon } from 'astro-icon';
---

<section class="relative h-screen flex items-center justify-center overflow-hidden">
  <div class="absolute inset-0 z-0">
      <!-- <video class="w-full h-full object-cover" autoplay loop muted playsinline>
        <source src="/hero-background.gif" type="image/gif">
      </video> -->
      <img src="/hero-background.gif" alt="hero bg" class="w-full h-full object-cover">
    <div class="absolute inset-0 bg-charcoal opacity-80"></div>
  </div>
  
  <div class="relative z-10 text-center px-4 sm:px-6 lg:px-8">
    <h1 class="text-4xl sm:text-6xl font-bold mb-4 text-accent-yellow animate-pulse">
      Become a Meme God!
    </h1>
    <p class="text-xl sm:text-2xl mb-8 text-white">
      Learn the art of creating viral internet memes from the best in the bizznizz!
    </p>
    <a href="#course" class="bg-accent-green text-charcoal font-bold py-3 px-6 rounded-full text-lg hover:bg-accent-yellow transition duration-300 inline-flex items-center">
      Start Memeing Now! (WHY AM I SHOUTING THIS MUCH!!! SORRY!)
      <Icon name="mdi:arrow-right" class="w-6 h-6 ml-2" />
    </a>
  </div>
  
  <div class="absolute bottom-10 left-1/2 transform -translate-x-1/2 animate-bounce">
    <a href="#about" aria-label="Scroll to About section">
      <Icon name="mdi:chevron-down" class="w-12 h-12 text-accent-yellow" />
    </a>
  </div>
</section>